.tarjeta {
  background: white;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.tarjeta h3 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

.tarjeta h4 {
  margin-top: 15px;
  font-size: 18px;
  color: #444;
}
