body {
  margin: 0;
  font-family: "Segoe UI", Roboto, sans-serif;
  background: #f5f5f5;
}

.contenedor-app {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.titulo-principal {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.btn-agregar {
  background-color: #4caf50;
  color: white;
  padding: 12px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  float: right;
  margin-bottom: 20px;
}

.btn-agregar:hover {
  background-color: #43a047;
}
