/* Contenedor principal */
.contenedor-app {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  padding-top: 40px;
}

/* Título */
.titulo-principal {
  font-size: 36px;
  font-weight: 700;
  color: #333;
}

/* Encabezado con flexbox */
.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

/* Botón morado */
.btn-agregar {
  background-color: #7d3cff; /* Morado */
  color: white;
  padding: 12px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s ease;
}

.btn-agregar:hover {
  background-color: #692fd8;
}

/* Por si algún componente necesita espacio */
.CreacionReceta {
  margin-bottom: 10px;
}
