.btn-ver {
  background-color: #4834d4;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
}

.btn-ver:hover {
  background-color: #3c2ba3;
}
