.lista-recetas {
  margin-top: 40px; /* antes era 20, ahora separamos REALMENTE */
  padding-bottom: 40px;
}

.texto-vacio {
  text-align: center;
  color: #888;
  font-size: 18px;
  margin-top: 30px;
}
