.btn-ver {
  background-color: #6c63ff;
  color: #000000; /* CONTRASTE APROBADO */
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
}

.btn-ver:hover {
  background-color: #574fd0;
}
